* {
    margin: 0px;
}

@font-face {
    font-family: "Dream";
    src: url("font/CaviarDreams_Bold.ttf");
}

@font-face {
    font-family: "Milk";
    src: url("font/Milk\ Cream.otf");
}

body {
    width: 100%;
    height: max-content;
    background-color: rgb(202, 219, 240);
}

#cabecalho {
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(184, 203, 224);
    align-content: center;
    justify-items: center;
    padding: 20px;
    width: 100%;
    height: fit-content;
}

#logo {
    border: 5px white solid;
    border-radius: 100%;
    width: 125px;
    height: 125px;

}

#imagem_home {
    border-radius: 10%;

}

#menu {
    font-family: "Dream";
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(202, 219, 240);
    margin: 0%;
    padding: 15px;
    justify-items: center;
    width: 100%;
    height: fit-content;
    list-style: none;
    font-size: 25px;
}

#menu a {

    text-decoration: none;
    color: white;
}

#conteudo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("img/fundo.jpeg");
    background-size: 150px 150px;
    background-repeat: repeat;
    height: fit-content;
    font-family: "Dream";
    align-items: center;
    align-content: center;
    justify-items: center;
    color: rgb(59, 112, 156);
    padding: 50px;
}

#conteudo img {
    border-radius: 20%;
    border: 5px rgb(202, 219, 240) solid;
    box-shadow: rgba(24, 40, 83, 0.219) 10px 10px 10px 1px;
    width: 400px;
    height: auto;
}

#celula {
    padding: 1px;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    background-image: url("img/fundo.jpeg");
    background-size: 150px 150px;
    background-repeat: repeat;
    width: 100%;
    height: fit-content;
    font-family: "Dream";
    align-content: center;
    align-items: center;
    justify-items: center;
    padding: 30px;
}

#galeria img {
    border-radius: 10%;
    border: 5px rgb(202, 219, 240) solid;
    box-shadow: rgba(24, 40, 83, 0.219) 5px 5px 10px 1px;
}

#foto {
    width: 350px;
    height: auto;
}

#contato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 30px 30px 30px 30px 150px;
    row-gap: 10px;
    background-image: url("img/fundo.jpeg");
    background-size: 150px 150px;
    background-repeat: repeat;
    width: 100%;
    height: 450px;
    font-family: "Dream";
    color: rgb(59, 112, 156);
    padding: 30px;
}

#contato label {
    margin: 5px;
    grid-column: 1;
    align-self: center;
}

#contato input {
    margin: 5px;
    grid-column: 1;
}

#contato textarea {
    margin: 5px;
    grid-column: 1;
}

#contato iframe {
    grid-column: 2;
    grid-row: 1 / 6;
    justify-self: center;
}

#enviar {
    width: 100px;
    height: 30px;
}

#rodape {
    background-color: rgb(202, 219, 240);
    width: auto;
    height: fit-content;
    padding: 17px;
    color: white;
    text-align: center;
}

#rodape img {
    margin: 10px;
    border-radius: 25%;
}

#rodape a {
    text-decoration: none;
}

p {
    font-family: "Dream";
}

h1 {
    font-family: "Dream";
    text-align: center;
    font-size: 25px;
}

h3 {
    font-family: "Milk";
}